.app {
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--global-border-color);
  border-radius: 6px;
  background-color: var(--background-color);
}
