.repos-list {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) transparent;

  &__item {
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid var(--global-border-color);
    border-radius: 6px;
    word-break: break-all;
  }

  &__button {
    flex-basis: 28px;
    height: 28px;
    margin-left: 8px;
    align-self: center;
    border: none;
    background-color: transparent;
    background-image: url('../../assets/icons/close.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.block-info-list {
  &__item {
    font-weight: 700;
    padding-left: 30px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left 0 top 0;

    &--name {
      background-image: url('../../assets/icons/book.svg');
    }

    &--owner {
      background-image: url('../../assets/icons/user.svg');
    }

    &--stars {
      background-image: url('../../assets/icons/star.svg');
    }
  }

  &__link {
    font-weight: normal;
    color: #858a8f;
  }

  &__score {
    font-weight: normal;
  }
}
